:root {
  font-family: 'Roboto', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  color-scheme: light dark;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f5f8ff !important;
  color: #111111 !important;
}

html {
  background-color: #f5f8ff !important;
}

#root {
  background-color: #f5f8ff !important;
  min-height: 100vh;
}

// Theme variables
$dark-bg: #000000;
$dark-paper: #1a1a1a;
$light-bg: #f5f8ff;
$light-paper: #ffffff;
$primary-color: #d32f2f;
$secondary-color: #b71c1c;
$text-light: #ffffff;
$text-dark: #111111;

// Dark theme specific styles
.dark-theme {
  background-color: $dark-bg;
  color: $text-light;
  
  .MuiPaper-root {
    background-color: $dark-paper;
  }
}

// Light theme specific styles
.light-theme {
  background-color: $light-bg;
  color: $text-dark;
  
  .MuiPaper-root {
    background-color: $light-paper;
  }
} 